@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {

  /* color */
  --color-primary: #5b2333;
  --color-secondary: #D4849A;
  --color-premium: #C9A66B;
  --color-background: #FBF7F6;
  --color-Alt_background: #F5ECEE;
  --color-surface: #FFFFFF;
  --color-main_text: #2B1A20;
  --color-text: #5A4A50;
  --color-muted: #777777;
  --color-premium: #C9A66B;
  --color-sale: #C0392B;
  --color-divider: #EADDE0;

  /* font style */
  --font-primaryFont: "Playfair Display", serif;
  --font-SecondryFont: "Inter", sans-serif;
  --font-SupportingFont: "Manrope", sans-serif;
}